################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nrf52_usb_host/v15
/nrf52_usb_host/VisualGDB
/VisualGDB/Debug
